#menu {
    background: #6992db;
    text-align: center;
    padding: 5px;
    line-height: 1.5;
    border-radius: 3px;
    overflow: auto;
}
#menu>#LoggedInUser {
    float: right;
    margin-right: 10px;
    color: white;
}
#menu a {
    text-decoration: none;

    padding: 5px 10px;
    border-radius: 5px;
}

a:-webkit-any-link {
    color: black;
    text-decoration: underline;
    cursor: auto;
}
#menu a:hover {
    background: #E6E6E6;
}
main > section {
    /*display: none;*/
    padding: 20px 5px;
}

section h1 {
    margin: 10px 0px;
    font-size: 1.2em;
}
table th {
    background: #DDD;
    padding: 10px;

}

table td {
    padding: 5px 10px;
    background: #EEE;


}
#infoBox, #errorBox, #loadingBox {
    display: none;
    width: 80%;
    margin: 10px auto;
    color: black;
    text-align: center;
    padding: 5px;
    border-radius: 3px;
}
.loader {
    height: 4px;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: #ddd;
}
.loader:before{
    display: block;
    position: absolute;
    content: "";
    left: -200px;
    width: 200px;
    height: 4px;
    background-color: #6992db;
    animation: loading 2s linear infinite;
}

@keyframes loading {
    from {left: -200px; width: 30%;}
    50% {width: 30%;}
    70% {width: 70%;}
    80% { left: 50%;}
    95% {left: 120%;}
    to {left: 100%;}
}
#infoBox {
    background: #6992db;

}
#errorBox {
    background: #F50;
}
footer {
    background: #6992db;
    padding: 5px 10px;
    font-size: 0.8em;
    text-align: center;
    border-radius: 3px;
}
#mytext{
    border:1px solid #999999;
    width: 100%;
    margin: 5px 0;
    padding: 3px;
}
.marquee {
    position: absolute;
    white-space: nowrap;
    font-family:"Microsoft YaHei Light";
    font-weight: bold;
    font-size: 120%;
    -webkit-animation: rightThenLeft 6s linear;
}

@-webkit-keyframes rightThenLeft {
    0%   {left: 0%;}
    50%  {left: 100%;}
    100% {left: 0%;}
}


